  .mat-table {
      margin-top: 20px;
      margin-left: 130px;
  }

.mat-raised-button {
    margin-top: 40px;
    margin-left: 130px;
    
}

  table {
    width: 90%;
  }
  
  .hide {
    display: none;
  }
 
  /* for dialog pop-up */
.btn-dialog-close {
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }
  
 